body{
    margin: 50px 50px 0 50px;
    height: 100vh;

    display: grid;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";
    grid-template-rows: 30px 1fr 40px;
    grid-template-columns: 0.5fr 1fr;

    background-color: #22212C;
}
h1, h2, h3, h4, h5, h6, p{
    font-family: Merriweather Sans;
}

header{
    grid-area: header;
    /* background-color: green; */
    text-align: center;
    margin: -3% 0 0 0;

    color: rgb(211, 211, 211);
}

/* Barra lateral esquerda */
main{
    grid-area: main;
    margin: 1px solid red;
}
.caixaFoto{
    border: 1px solid #302F3D;
    border-radius: 5%;

    background-color: #302F3D;
    color: #837E9F; 

    margin: 9% 15% 9% 15%;
    text-align: center;
}
.foto{
    width: 60%;
    margin: 5%;
    border-radius: 50%;

    border: 2px solid green;  
}
.caixaFotoNome{
    font-weight:bold;
}
.paragrafoFoto{
    margin: -2% 0 15% 0;

    font-size: 13px;
}
.caixaDados{
    border: 1px solid #302F3D;
    border-radius: 5%;
    background-color: #302F3D;
    color: #837E9F;
    margin: 9% 15% 9% 15%;

}
.caixaTecnologias{
    display: flex;
    border: 1px solid #302F3D;
    background-color: #302F3D;
    border-radius: 5%;
    margin: 9% 15% 9% 15%;
}
.tecnologias{
    margin: 0px 4% 0px 4%;
    border-radius: 5%;   
}
.itemTecnologia{
    background-color: #CB92B1;
    border-radius: 5px;
    padding: 4px;

    text-align: center;
}
.caixaEducacao{
    border: 1px solid #302F3D;
    border-radius: 5%;
    margin: 9% 15% 9% 15%;

    background-color: #302F3D;
    color: #837E9F;    
}



/* Barra lateral direita */
aside{
    grid-area: aside;
    background-color: rgb(169, 169, 236);

    margin: 5% 0 0 0;
}

footer{
    grid-area: footer;
    

    display: flex;
    justify-content: center;
    align-items: center;
}
.paragrafoFooter{
    font-size: 10px;
    color: #837E9F;
    
}